@model IEnumerable<Prj_Dh_Food_Shop.SearchTop_Products>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="~/Content/css/style.css">
@{
    var rs = (List<Prj_Dh_Food_Shop.SearchTop_Products>)ViewBag.Inner;
    var categories = (List<Prj_Dh_Food_Shop.Categories>)ViewBag.category;
    var count = 0;
}
<body>

    <div id="main">
        <a href="~/Customers/Index" class="active">
            <div class="col-div-3">
                <div class="box">
                    <p>@ViewData["soluongKH"]<br><span>Khách hàng</span></p>
                    <i class="fas fa-users box-icon"></i>

                </div>
            </div>
        </a>

        <a href="~/Orders/Index" class="active">
            <div class="col-div-3">
                <div class="box">
                    <p>@ViewData["soluongOrder"]<br><span>Đơn đặt hàng cần duyệt</span></p>
                    <i class="fas fa-shopping-cart box-icon"></i>
                </div>
            </div>
        </a>

        <a href="~/Feedbacks/Index" class="active">
            <div class="col-div-3">
                <div class="box">
                    <p>@ViewData["soluongFeedback"]<br><span>Phản hồi cần trả lời</span></p>
                    <i class="fas fa-table box-icon"></i>
                </div>
            </div>
        </a>

        <a href="~/CustomersPotential/Index" class="active">
            <div class="col-div-3">
                <div class="box">
                    <p>@ViewData["soluongKHTN"]<br><span>Khách hàng tiềm năng</span></p>
                    <i class="fas fa-user-plus box-icon"></i>
                </div>
            </div>
        </a>
        <div class="clearfix"></div>
        <br><br>


        <div class="col-div-8">
            <div class="box-8">
                <div class="content-box">
                    <p>Top 5 sản phẩm bán chạy</p>
                    <br>
                    <table class="table" ui-jq="footable" ui-options='{
                    "paging": {
                    "enabled": true
                    },
                    "filtering": {
                     "enabled": true
                    },
                    "sorting": {
                    "enabled": true
                    }}'>
                        <tr style="background-color: #EDEDED">
                            <th style="text-align: center">
                                STT
                            </th>
                            <th>
                                Tên sản phẩm
                            </th>
                            <th>
                                Loại sản phẩm
                            </th>
                            <th style="text-align: center">
                                Doanh thu
                            </th>
                        </tr>
                        @foreach (var item in rs)
                        {
                            count++;
                            <tr>
                                <td style="text-align: center">
                                    @(count)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tenSP)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.category_name)
                                </td>
                                <td style="text-align: center">
                                    @Html.DisplayFor(modelItem => item.doanhthu)
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>

        <div class="col-div-4">
            <div class="box-4" style="height: 350px;">
                <div class="content-box" style="background-color: #fcfcfc;">
                    <p>Tỉ lệ khách hàng quay lại mua hàng</p>

                    <div class="circle-wrap">
                        <div class="circle">
                            <div class="mask half">
                                <div class="fill"></div>
                            </div>
                            <div class="inside-circle">50%</div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="clearfix"></div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

        $(".nav").click(function () {
            $("#mySidenav").css('width', '70px');
            $("#main").css('margin-left', '70px');
            $(".logo").css('visibility', 'hidden');
            $(".logo span").css('visibility', 'visible');
            $(".logo span").css('margin-left', '-10px');
            $(".icon-a").css('visibility', 'hidden');
            $(".icons").css('visibility', 'visible');
            $(".icons").css('margin-left', '-8px');
            $(".nav").css('display', 'none');
            $(".nav2").css('display', 'block');
        });

        $(".nav2").click(function () {
            $("#mySidenav").css('width', '300px');
            $("#main").css('margin-left', '300px');
            $(".logo").css('visibility', 'visible');
            $(".icon-a").css('visibility', 'visible');
            $(".icons").css('visibility', 'visible');
            $(".nav").css('display', 'block');
            $(".nav2").css('display', 'none');
        });

    </script>
</body>

