
@model Prj_Dh_Food_Shop.Customers
@{
    var districts = (List<Prj_Dh_Food_Shop.Districts>)ViewBag.district;
}

<div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-draggable ui-resizable" tabindex="-1" role="dialog" aria-labelledby="ui-dialog-title-divEditCustomer"
     style="position: absolute; height: 343px; width: auto; top: 100px; left: 40%;">
    <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
        <span class="ui-dialog-title">Xem thông tin khách hàng</span>
    </div>
    <div style="background-color:#FFF; width: auto; min-height: 0px;" class="ui-dialog-content ui-widget-content" scrolltop="0" scrollleft="0">
        <div style="display:none;" role="status" aria-hidden="true">
        </div>
        @using (Html.BeginForm("Detail", "Customers"))
        {
            <table class="n-tbl-head-1" style="margin-bottom: 0">
                <tbody>
                    <tr style="height: 25px">
                        <td style="width: 150px">
                            <span>Tên khách hàng</span>:
                        </td>
                        <td style="width: 300px">
                            @Model.name
                        </td>
                    </tr>
                    <tr style="height: 25px">
                        <td>
                            <span>Tài khoản</span>:
                        </td>
                        <td>
                            @Model.username
                        </td>
                    </tr>
                    <tr style="height: 25px">
                        <td>
                            <span>Mật khẩu</span>:
                        </td>
                        <td>
                            @Model.passwords
                        </td>
                    </tr>
                    <tr style="height: 25px">
                        <td>
                            <span>Ngày sinh</span>:
                        </td>
                        <td>
                            @Model.birth_date
                        </td>
                    </tr>
                    <tr style="height: 25px">
                        <td>
                            <span>Giới tính</span>:
                        </td>
                        <td>
                            @if (Model.is_active == 1)
                            {<span>Nam</span>}
                            else
                            {<span>Nữ</span>}
                        </td>
                    </tr>
                    <tr style="height: 25px">
                        <td>
                            <span>Số điện thoại</span>:
                        </td>
                        <td>
                            @Model.phone_number
                        </td>
                    </tr>
                    <tr style="height: 25px">
                        <td>
                            <span>Địa chỉ</span>:
                        </td>
                        <td>
                            @Model.addresss
                        </td>
                    </tr>
                    <tr style="height: 25px">
                        <td>
                            <span>Ngày tạo</span>:
                        </td>
                        <td>
                            @Model.createAt
                        </td>
                    </tr>
                    <tr style="height: 25px">
                        <td>
                            <span>Kích hoạt</span>:
                        </td>
                        <td>
                            @if (Model.is_active == 1)
                            {<span>Có</span>}
                            else
                            {<span>Không</span>}
                        </td>
                    </tr>
                    <tr style="height: 25px">
                        <td>
                            <span>Tỉnh thành</span>:
                        </td>
                        <td>
                            @Model.Provinces.name
                        </td>
                    </tr>
                    @*<tr style="height: 25px">
                        <td>
                            <span>Thành phố</span>:
                        </td>
                        <td>
                            @Model.Provinces.i
                        </td>
                    </tr>
                    <tr style="height: 25px">
                        <td>
                            <span>Tỉnh thành</span>:
                        </td>
                        <td>
                            @Model.Districts.Cities.Provinces.name
                        </td>
                    </tr>*@
                    <tr style="height: 25px;">
                        <td colspan="2" align="center" style="padding-top: 10px; padding-left: 37%">
                            <input type="submit" value="Quay lại" id="btnBack" data-dismiss="modal" class="n-btn-cancel">
                        </td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
</div>
