@{
    ViewBag.Title = "productDetail";
    Layout = "~/Areas/Client/Views/Shared/_LayoutClient.cshtml";
}

@model Prj_Dh_Food_Shop.Search_Products
@{
    var categories = (Prj_Dh_Food_Shop.Categories)ViewBag.categoryList;
}
<!DOCTYPE html>
<html lang="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
    <title>NATURAL Nước Mắm Phú Quốc</title>
    <meta name="keywords" CONTENT="CÔNG TY CỔ PHẦN DH FOODS" />
    <meta name="description" CONTENT="Dh Foods với niềm tự hào về gia vị Việt, luôn mang đến những sản phẩm chất lượng nhất được lựa chọn kỹ càng từ khắp mọi miền Tổ Quốc." />
    <meta name="robots" content="index, follow" />
    <meta name="google-site-verification" content="aEmUg-7Z0H8FynZTBTzycgen1XIhJ8ExKGPLjmo2XfM" />
    <meta name="author" content="Dh Foods" />
    <style type="text/css">


        .mainHeadWrap > .mainHead.fixed .logo img {
            max-height: 60px;
        }

        .menuTab ul li a, .productCart a, .info-contact .view-map-contact a, .info-contact .view-map-contact a:before, .form-contact button {
            border-radius: 5px;
        }

        div#vnt-footer > .mainFoot .grid .col:nth-child(3), div#vnt-footer > .mainFoot .grid .col:nth-child(4) {
            margin-bottom: 25px;
        }

        .item > .productCat .tend {
            min-height: 75px;
        }

            .item > .productCat .tend h3 {
                font-size: 27px;
                line-height: 35px;
                white-space: normal;
            }

        .breadcrumb ul li:first-child {
            display: none;
        }

        .breadcrumb ul li:nth-child(2) {
            margin-left: 0;
        }

        .col-lg-6.col-md-6.col-sm-12.col-xs-12 > .productDes {
            font-size: 18px;
            line-height: 26px;
        }

        .item > .productCat .tend h3, .col-lg-4.col-md-4.col-sm-6.col-xs-6 > .product .tend a, .item > .product .tend a, .col-lg-6.col-md-6.col-sm-12.col-xs-12 > .productTitle h1, .col-lg-6.col-md-6.col-sm-12.col-xs-12 > .productTitle h2, .col > .productCat .tend h3 {
            text-transform: none;
        }

        .col-lg-4.col-md-4.col-sm-6.col-xs-6 > .product .tend a {
            font-size: 24px;
            line-height: 32px;
        }

        .productDes > ol, .productDes > ul {
            list-style: disc !important;
            margin-top: 0;
            margin-bottom: 10px;
            padding-inline-start: 40px;
        }

        .info-contact .view-map-contact a span {
            padding-top: 1px;
        }

        .col-lg-4.col-md-4.col-sm-6.col-xs-12 > .recruit .tend h3 {
            height: auto;
        }

        .recruit .des {
            padding-top: 25px;
        }

        .productCart a:hover {
            border: solid 1px #1b5633;
            background-color: #fff;
        }

        .productCart a {
            display: inline-block;
            font-weight: bold;
            text-transform: uppercase;
            color: #fff;
            border-radius: 5px;
            border: solid 1px #1b5633;
            padding: 12px 30px;
            -webkit-transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
            transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
            position: relative;
            overflow: hidden;
            font-size: 22px;
            background-color: #1b5633;
            max-width: 380px;
        }

        .recruit:hover .des {
            padding-top: 0px;
        }

        /*khảng cách tiêu đề bài viết*/
        .wrapConts .box_mid .mid-title .titleL {
            margin-top: 30px
        }

        .productWrap_c {
            margin-top: 30px;
        }

        .product .link a span {
            padding-right: 0 !important;
            position: relative;
        }

            .product .link a span:before {
                content: "" !important;
                font-family: fontAwesome;
                position:;
                right: 0;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
            }
    </style>

    <style type="text/css">
        .bx-bct {
            display: flex;
        }
    </style>

    <script src="~/Areas/Content/Scripts/animate.css.js"></script>
    <script src="~/Areas/Content/Scripts/jquery.min.js"></script>
    <script src="~/Areas/Content/Scripts/jquery-migrate.min.js"></script>
    <script src="~/Areas/Content/Scripts/bootstrap.min.js"></script>
    <script src="~/Areas/Content/Scripts/slick..js"></script>
    <script src="~/Areas/Content/Scripts/jquery.fancybox.js"></script>
    <script src="~/Areas/Content/Scripts/my_effect_scroll.js"></script>
    <script src="~/Areas/Content/Scripts/jquery.alerts.js"></script>
    <script src="~/Areas/Content/Scripts/style.js"></script>
    <script type="text/javascript" src="https://dhfoods.com.vn/js/core.js"></script>
    <link rel="stylesheet" href="https://dhfoods.com.vn/modules/product//css/product.css" type="text/css" />
    <script type="text/javascript" src="https://dhfoods.com.vn/modules/product//js/product.js"></script>
</head>
<body>


    <div id="vnt-content">
        <div class="vnt-main-top">
            <div id="vnt-slide" class="slick-init">
                <div class="item">
                    <div class="img">
                        <img src="https://dhfoods.com.vn/vnt_upload/product/08_2021/Muoi_Tom_Tay_Ninh.png" />
                    </div>
                </div>
            </div>
            <div id="vnt-navation" class="breadcrumb" style="padding-bottom: 2%; background-color: #1b5633">
            </div>
        </div>
        <div id="vnt-background" class="bg" style="padding-top: 60px;">
            <div class="wrapCont">
                <div class="wrapper">
                    <div class="productWrap">
                        <div class="productWrap_c">

                            <div class="productWrap_l">
                                <div class="productThumbnail">
                                    <div id="vnt-thumbnail-for">
                                        <div class="item">
                                            <div class="img"><img src="@Model.image" /></div>
                                        </div>
                                    </div>
                                    <div id="vnt-thumbnail-nav">
                                        <div class="item">
                                            <div class="img"><img src="@Model.imageMore" /></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="productWrap_r">
                                <div class="productTitle"><h1>@Model.name</h1></div>
                                <div class="productDes">
                                    @Model.descriptions
                                </div>
                                <p><span style="font-size:24px;"><span style="font-family:Roboto,sans-serif;"><strong>Đơn giá:&nbsp;</strong>@Model.price (VNĐ)/1 thùng</span></span></p>
                                <div class="productDes"></div>
                                <div class="productCart"><a href="~/Client/Carts/AddItem?productId=@Model.id&quantity=1"><span>Thêm vào vào giỏ hàng</span></a></div>
                            </div>

                        </div>
                        <div class="description">

                            <p><span style="font-size:20px;"><span style="font-family:Roboto,sans-serif;">@Model.descriptions</span></span></p>

                            <p><span style="font-size:20px;"><span style="font-family:Roboto,sans-serif;"><strong>Thành phần:&nbsp;</strong>@Model.ingredient</span></span></p>

                            <p><span style="font-size:20px;"><span style="font-family:Roboto,sans-serif;"><strong>Hướng dẫn sử dụng:</strong> @Model.HDSD</span></span></p>
                        </div>
                    </div>


                    @*<div class="container">
                            <div class="row n-heading">
                                <div class="col-md-12">
                                    <h2 style="margin-top: 5%; text-transform: uppercase; animation-delay: 0.3s; color:#16492c" class="font-heading">Sản phẩm tương tự</h2>
                                </div>
                            </div>

                            <div class="owl-carousel owl-loaded owl-drag" style="overflow: hidden;">
                                @foreach (var item in Model)
                                {
                                    <div class="item">
                                        <a href="~/Client/Product/productDetail?ProductId=@item.id"><img src="@item.image" /></a>
                                        <h3 style="text-align: center; padding-top: 10px; font-weight:bold;"><a style="color: #000 !important" href="~/Client/Product/productDetail?ProductId=@item.id">@item.name</a></h3>
                                    </div>
                                }
                            </div>
                        </div>*@


                </div>
            </div>
        </div>
    </div>
</body>

@*<script type="text/javascript">
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            items: 3,
            loop: true,
            margin: 150,
            autoplay: true,
            autoplayTimeout: 2000,
            autoplayHoverPause: true,
        });
    </script>*@
